#root{
    width: clamp(800px,80vw,1200px);
    margin: 0 auto 0 auto !important;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;

}
*{
    text-decoration: none;
}
button{
    border: 1px #1e90ff solid;
}
button:active,button:hover{
    border: 1px black solid;

}
th {
    border: 1px solid white;
    background-color: #0d6efd;
    color: white
}
td {
    border: 1px solid black;

}